# Server
VITE_API_BASE_URL=http://localhost:5000/api/v1

# For E2E only
E2E_API_HELPER_BASE_URL=http://localhost:5010/api

# For development only
VITE_DEV_MOCK_MSW= # "false" or "true". If the value is "true", the application will use Mock Service Worker to mock the API network request
VITE_DEV_MOCK_AUTH_SIGNED_IN= # "false" or "true". If its value and the `VITE_DEV_MOCK_API` value are "true",  the application will be in a mocked signed-in state
