.idea/
.vscode/
.temp/
/.react-router/
/node_modules/
/build/
/coverage/
temp/
.env*
!.env.example
.DS_Store

# Storybook
*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
